<h1><%= @task.name %></h1>
<hr />
<h2>Task List</h2>
<ul>
  <% @task.name.each do |task| %>
    <li>
      <%= <%= link_to 'Task', new_task_path %>
    </li>
  <% end %>
</ul>

<%= link_to 'Delete Task', @task, method: :delete %>