
<%=image_tag("color_logo_transparent.png", :size => "500x140")%>


<%= link_to 'Create Board', new_board_path %>
<hr />

<ul>
<% @boards.each do |board| %>
  <li>
  <%= link_to board.work, board %>
  </li>
  <% end %>
  </ul>
