<div class="ui menu">
  <%= link_to 'Boards', boards_path, class: 'item' %>
  <div class="right menu">
    <a href="https://www.google.com" class="item">Search</a>
    <a href="https://www.google.com" class="item">Help</a>
  </div>
</div>
