<div class="ui menu">
  <%= link_to 'Items', boards_path, class: 'item' %>
  <%= link_to 'Tasks', tasks_path, class: 'item' %>
  <div class="right menu">
    <a href="https://www.google.com" class="item">Search</a>
  </div>
</div>